@media (max-width: 768px) {
    .container {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    .hero,.about,.featured-services{
        flex-direction: column-reverse;
    }
    .menu-contant,.testimonals,.event{
        flex-direction: column;
    }
    .counters-box {
        flex-basis:100%;
    }
    /* .chefs-box{
        flex-basis: calc(100%/2);
        flex-wrap: wrap;
    } */
}