@media (max-width: 768px) {
    .container {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    .hero,.about,.featured-services{
        flex-direction: column-reverse;
    }
    .counters-box {
        flex-basis:100%;
    }
}